/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
html {
    height:100%
}
body {
    background-color: #FFFFFF;
    min-height: 100%;
    height: 100;
}
#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CECAB9;
    background: #D7D7C3;
}

/*menu-------------------------------------------------------*/
#menu ul {
    list-style-type: none;
    padding: 6px 0 0 11px;
    margin: 0 0 0 0;
    display: inline;
    float: left;
    width: 589px;
    background-color: #51473D;
}
#menu a {
    display: none;
}
#menu li {
    float: left;
    margin: 1px 0 0 1px;
}
#menu ul li a {
    float: left;
    display: block;
    background-color: #797066;
    padding: 7px 19px 7px 19px;
    color: #EAE7D2;
    font-family: Verdana, Arial, sans-serif;
    font-size: 83%;
    text-transform: capitalize;
    text-decoration: none;
}
#menu li.active a {
    color: #6E6E59;
    background-color: #D7D7C3;
}
#menu ul li a:hover {
    background-color: #998775;
}

/*content---------------------------------------------------*/
#content {
    margin-right: auto;
    padding: 15px;
    font-family: "Times New Roman", Times, serif;
    color: #6E6E59;
    
}
/*maincontent-------------------------------------------*/
#maincontent {
    font-size: 84%;
    display: inline-block;
    width: 350px;
    margin-right: 0px;
    margin-top: 20px;
    padding-right: 10px;
    border-right: thin dashed #AFAF93;
}
#maincontent img {
    float: left;
    padding-right: 12px;
}
#maincontent h1 {
    font-weight: 100;
    margin: 0 10px 10px 0;
}
#maincontent p {
    line-height: 155%;
    padding: 0;
    font-size: 100%;
}

/*subcontent-----------------------------------------------------*/
#subcontent {
    display: inline-block;
    width: 194px;
    padding: 5px;
}
#subcontent p {
    font-size: 63%;
    line-height: 200%;
}
#subcontent h1 {
    color: #51473D;
    font-size: 110%;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 100;
}
#subcontent h2 {
    font-size: 90%;
    padding-top: 20px;
    font-weight: 100;
    margin: 0 0 3px 0;
}

#subcontent li {
    list-style: none;
    font-size: 100%;
    line-height: 150%;
}
#subcontent li a {
    color: #51473D;
}
#subcontent ul {
    padding-left: 0;
    margin: 0 0 20px 0;
}

/*bottomcontent----------------------------------------------------*/
#bottomcontent {
    clear:both;
    font-size: 57%;
    font-style: italic;
    font-family: arial, sans-serif;
}
/*header---------------------------------------------------------------*/
#topbar {
    background-color: #51473D;
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-size: 10px;
    padding: 4px 4px 0 0;
    width: 596px;
    height: 216px;
    text-align: right;
    color: #EAE7D2;
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: 0px 20px;
}
img {
    
}

p {
    font-family: Verdana, Geneva, sans-serif;
}